.tflStatus {
    font-size: 14px;
    border-spacing: 0px;
    border: 0px;
}

.lineName {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.lineStatus {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.goodStatus {
    color: #384538;
}

.poorStatus {
    color: #ffe680;
}

.badStatus {
    color: hsl(2, 100%, 66%);
}

.allLines {
    color: #000000;
    background-color: #FFFFFF;
}

.bakerloo {
    background-color: #B36305;
}

.elizabeth {
    background-color: #6950A1;
}

.central {
    background-color: #E32017;
}

.circle {
    background-color: #FFD300;
    color: #000000;
}

.district {
    background-color: #00782A;
}

.hammersmith-city {
    background-color: #F3A9BB;
    color: #000000;
}

.jubilee {
    background-color: #84888b;
}

.metropolitan {
    background-color: #9B0056;
}

.northern {
    background-color: #000000;
}

.piccadilly {
    background-color: #003688;
}

.victoria {
    background-color: #0098D4;
}

.waterloo-city {
    background-color: #95CDBA;
    color: #000000;
}

.dlr {
    background-color: #00A4A7;
}

.london-overground {
    background-color: #EE7C0E;
}

.tram {
    background-color: #84B817;
}
